[2014-06-15 16:43] cboden opened #1 "Fix Autobahn tests"

[2014-06-15 16:43] cboden opened #2 "Use React HttpClient"
Replace SocketClient with HttpClient. HttpClient needs to support 101 header first.

[2014-06-15 16:45] cboden opened #3 "Auto Reconnect"
- Optional auto-reconnect component
- Queue send() messages when not connected

[2014-06-15 16:45] cboden opened #4 "Support Sub-Protocols"

[2014-08-30 13:39] #4 closed, assigned to nobody

[2014-10-31 00:23] davidwdan opened #10 "Tag a Release"
@cboden Would it be possible to tag a release?  I'm trying to streamline the installation of Thruway and right now, installing Pawl is an extra step.

[2014-11-03 12:56] #3 closed, assigned to nobody

[2014-11-03 12:58] #10 closed, assigned to nobody

[2014-11-04 11:01] Venzon opened #11 "connection with Ratchet WAMP"
is there a way to connect with Rachet ws and post message to server and receive response?

code from example does not work

atm I am using for this purpose https://github.com/bazo/wamp-client

regards

[2014-11-04 16:39] #11 closed, assigned to nobody

[2014-11-08 02:44] hugohenrique opened #12 "Ratchet\\Client\\Factory::Ratchet\\Client\\{closure}() must be an instance of React\\Stream\\Stream, instance of React\\SocketClient\\SecureStream given"
[code]

Anyone know what this might be?
I'm with an online application and could not understand.

[2014-11-09 01:15] #12 closed, assigned to nobody

[2015-02-19 15:27] MRSteam opened #16 "wss not work"
"PHP message: PHP Catchable fatal error:  Argument 1 passed to Devristo\Phpws\Client\WebSocket::Devristo\Phpws\Client\{closure}() must be an instance of React\Stream\Stream, instance of React\SocketClient\SecureStream given, called in /var/www/*/vendor/react/promise/src/FulfilledPromise.php on line 24 and defined in /var/www/*/vendor/devristo/phpws/src/Devristo/Phpws/Client/WebSocket.php on line 9

[2015-02-19 15:33] clue commented on #16
This is caused by a BC break in react/socket-client (https://github.com/reactphp/socket-client/issues/21), suggested fix is in https://github.com/reactphp/socket-client/pull/25.

[2015-02-19 16:05] MRSteam commented on #16
Ups, my mistake, my issue was for phpws, not for ratchetphp/Pawl.
So, does ratchetphp/Pawl work with WSS correctly?

[2015-02-19 16:09] cboden commented on #16
@MRSteam Yup!

[2015-02-19 16:14] clue commented on #16
Duh :) Yup, this has indeed been fixed with #13.

[2015-02-19 16:24] MRSteam commented on #16
Wait please, I need some help from you!
My problem: I want to get some messages from websocket server and send some messages to it. Websocket server is not mine, i just need to talk with server. So I think I need only a websocket client, isn't it?
First question is why I need Ratchet (server) for work with Pawl (client)? (There are some strings like $connector = new Ratchet\Client\Factory($loop);

[2015-02-19 16:27] cboden commented on #16
Yes, you only need a WebSocket client.

Ratchet (server) is pulled in by Pawl dependencies because it needs the RFC6455 protocol parser. I'm working on separating this out to a separate repository, but for the time being Ratchet is a dependency. Ratchet (server) is not actually run in Pawl.

As for the namespace, Pawl is under the Ratchet namespace+organization and was there before I came up with

[2015-02-19 16:44] MRSteam commented on #16
I created a folder named "server", there I created a file named 'composer.json' with contents from https://github.com/ratchetphp/Ratchet/blob/master/composer.json then run "composer install", there are no errors. Everything seems okay. Then I tried to run my_test_server.php with contents of "A quick example".

And I get some errors: Interface 'Ratchet\MessageComponentInterface' not found

[2015-02-19 16:46] MRSteam commented on #16
I created a folder named "server", there I created a file named 'composer.json' with contents from https://github.com/ratchetphp/Ratchet/blob/master/composer.json then run "composer install", there are no errors. Everything seems okay. Then I tried to run my_test_server.php with contents of "A quick example".

And I get some errors: Interface 'Ratchet\MessageComponentInterface' not found

[2015-02-20 12:34] #16 closed

[2015-02-21 16:42] hugohenrique opened #17 "Error with PHP 5.6"
I updated my version of php to 5.6 and now I'm getting this error message:

``Could not connect: Unable to complete SSL/TLS handshake: stream_socket_enable_crypto(): Peer certificate CN=`*.domain.com' did not match expected CN=`00.000.87.163'```

[2015-02-21 16:44] hugohenrique commented on #17
ping @cboden

[2015-02-21 17:02] davidwdan commented on #17
I think this is related to https://github.com/reactphp/socket-client/pull/23

[2015-02-21 17:11] hugohenrique commented on #17
@davidwdan Just that solves!

[2015-02-23 15:52] #17 closed

[2015-05-13 05:53] slowbro opened #18 "Unable to establish SSL connection with Pawl"
Hi again, cboden. I'm having issues connecting to wss:// sockets with Pawl on a new machine. I've been banging my head against this for about 6 hours now to no avail.

I'm starting with a brand new install of Pawl, using the test script provided, connecting to "wss://echo.websocket.org":

[code]

composer deets:

[code]

[code]

php deets
[code]

OS deets
[code]

What seems to happen is that when

[2015-05-13 05:54] slowbro commented on #18
This probably belongs in the socket-client project, as it seems to be what's killing the whole deal (even using Devistro/phpws..)

[2015-05-13 06:10] slowbro commented on #18
More info, because I hate sleep:

This works if I downgrade to react/socket-client 0.4.2 EXCEPT for this change:
https://github.com/reactphp/socket-client/commit/3cc2bfd1eab5e2addf18694cf76e23764cac533d

https://github.com/reactphp/socket-client/compare/v0.4.2...v0.4.3

[2015-05-13 06:30] onekit commented on #18
Did you have connected with your WSS without pawl with regular browser to make sure is WSS is done and work properly?

I guess WSS not configured.

[2015-05-13 06:35] slowbro commented on #18
Yep. This is connecting to a known-good WSS.

[2015-05-13 12:35] cboden commented on #18
So WSS works with socket-client v0.4.2 but not v0.4.3?

[2015-05-13 14:10] cboden commented on #18
I pushed a change to socket-client master that should provide a fix for PHP version 5.6.8. I'm still working on fixing other versions but if you can force that branch see if that fixes your issue for now.

[2015-05-14 00:23] slowbro commented on #18
Yeah, that seems to fix it. I receive the echo back from the wss:// connection with socket-client dev-master.

[2015-05-14 00:48] slowbro commented on #18
Coincidentally, that branch also fixes another bug with stream_get_contents hanging with Slack again for some reason.. working 100% now! Thanks @cboden, you're the best <3

[2015-05-14 04:43] cboden commented on #18
Happy to help @slowbro. The amount of debug info you provide makes my life *so* much easier! :-)

[2015-05-16 21:18] #18 closed

[2015-09-03 08:57] aaacckiy opened #19 "Error: Class not found"
Hi. I tried to use Pawl but there was a problem in Ratchet\Client\Factory and Ratchet\Client\WebSocket. I can't find any mention about these classes.
My composer config is
"require": {
        "cboden/ratchet": "0.3.*",
        "react/socket-client": "0.4.*"
    }
What's the trick? Where can I get required classes?

[2015-09-03 12:07] mbonneau commented on #19
Hi @aaacckiy ,

Can you give a little more detail of what you did to install it and maybe the source of the script you are trying to run?

I was able to get this up and running just now using:
[code]

I tested with the script:
[code]

[2015-11-18 06:50] maz0717 opened #20 "Add ping event"
I see there is a pong event in the handleData function.  That doesn't seem very useful for a client library.  From my understanding of the spec, only the server sends a ping event, so in theory, under normal circumstances, the 'pong' event will never be triggered.  I think having a ping event would be more useful.  I have added a ping emitter as shown below.  Seems to be working just fine.  Can th

[2015-11-18 15:44] cboden commented on #20
response, unless it already received a Close frame.  It SHOULD
   respond with Pong frame as soon as is practical.  Pong frames are
   discussed in Section 5.5.3.

   verify that the remote endpoint is still responsive.

---

   "Application data" as found in the message body of the Ping frame
   being replied to.

   unidirectional heartbeat.  A response to an unsolicited Pong frame is
   not exp

[2015-12-25 03:31] #20 closed

[2015-12-25 03:31] #19 closed

[2016-03-12 01:35] #1 closed

[2016-03-15 19:27] uniquoooo opened #23 "Add a way to decode binary frames"
At the moment there is no way to decode binary frames (opcode 2) which is why I had to import the code into my project. Perhaps there should be a way to decode the binary frames?

I am using this code:

[code]

however, this won't work with all encodings.

[2016-03-15 23:10] cboden commented on #23
I haven't used binary frames in practice yet and only understand the differences at the protocol level. I know browsers handle two types, blob and byte stream, but I'm not sure of their practical usages. I'm not sure how to code to handle all scenarios. Do you have any suggestions?

Also you should be able to do this:
[code]

[2016-03-15 23:12] uniquoooo commented on #23
Ah ok, didn't realise in the new version that it passed through the message instead of just the payload. I will give it a go soon.

[2016-03-17 13:46] #23 closed

[2016-03-19 21:54] uniquoooo opened #26 "`close` emitted with React\Stream\Stream"
I've had some errors in my application where close is emitted with an instance of React\Stream\Stream, which causes my application to crash when I try to print the close code and reason.

It is because of [this](https://github.com/ratchetphp/Pawl/blob/master/src/WebSocket.php#L113), possibly change it so stream closes emit with `[0, 'PHP stream closed']`?

[2016-03-20 17:11] cboden commented on #26
Can you confirm you're using Pawl/0.2.1 via `composer show` please? Can you post a bit of your code where this is happening? Which side is initiating the close command (client/server)?

The [only spot](https://github.com/ratchetphp/Pawl/blob/master/src/WebSocket.php#L63) `close` is being emitted specifically emits the WebSocket instance; just eyeballing the code I don't see how it could emit an in

[2016-04-13 01:54] uniquoooo commented on #26
Sorry for the late reply, completely forgot about this.

[This](https://github.com/ratchetphp/Pawl/blob/master/src/WebSocket.php#L113) seems to be triggering the `_close` function. The ReactPHP Stream package seems to be emitting `close` and it is passing through the Stream class.

Possibly change it to something like:

[code]

[2016-04-13 13:24] cboden commented on #26
ah, I see now. You're right. Good call!

[2016-04-14 02:00] uniquoooo opened #27 ""Ratchet detected invalid OP code when expecting continue frame""
Using the latest Pawl version (v0.2.1) and I keep getting the following close reasons:

- `Ratchet detected invalid OP code when expecting continue frame`
- `Ratchet detected an invalid reserve code`

Both close with close code 1002, I'm not really sure what is happening. Any ideas?

[2016-04-14 17:22] cboden commented on #27
Do you know what kind of WebSocket server you are connecting to? Both errors are being triggered from the [ratchetphp/RFC6455](https://github.com/ratchetphp/RFC6455) library and are protocol errors detected within message transmission.

[2016-04-14 18:08] uniquoooo commented on #27
I'm not sure on the specifics of the library that is used but it's an Elixir application. Another thing I should note, it only happens when I receive the `READY` packet which can be over 100MB when uncompressed. I was possibly thinking the message buffer was overflowing but not sure.

[2016-04-14 21:39] cboden commented on #27
What's a `READY` packet?

[2016-04-14 21:43] #26 closed

[2016-04-15 20:46] uniquoooo commented on #27
It's basically a JSON or ETF packet that tells me that everything is ready and also gives me a lot of information (which is why it is 100MB). It is transferred in plain text (JSON), compressed with zlib in binary (JSON) or using Binary Erlang External Term Format.

[2016-04-15 20:51] uniquoooo commented on #27
Another thing I should note, frames can be sent rapidly (i've received 2500 frames of one time within a minute) so that's what made me think that it could be the message buffer overflowing. I also dumped the frame when it came in and the rsv1-3 were different every time.

[2016-04-21 06:07] kadnan opened #29 "Fatal error: Call to undefined method React\Promise\Promise::on("
My code is as following:

[code]

[2016-04-21 12:57] mbonneau commented on #29
@kadnan ,

The connection function returns a Promise. The connection is what is passed when the promise resolves:
[code]

[2016-04-21 13:59] #29 closed

[2016-04-27 01:32] krekk4 opened #30 "connection problem to local addresses"
I can't connect to any address which is resolved by hosts file. It is related to react dns resolver which ignores hosts file and when I run server with ratchet websockets app class I can't connect to server with IP because route is not matched. is there any way to solve this?

[2016-04-27 13:42] mbonneau commented on #30
You are correct. React does not currently resolve hosts file mappings: https://github.com/reactphp/dns/issues/10 .

The only way right now is to put the IP address in there or to use a publicly available DNS mapping that resolves to localhost (see http://readme.localtest.me/ - I have not used that but the page says localtest.me will always point to localhost)

[2016-04-27 18:56] krekk4 commented on #30
Thanks, this did the trick!

[2016-04-27 18:56] #30 closed

[2016-05-15 19:08] cboden commented on #27
rsv should always be the same. [Here is the code](https://github.com/ratchetphp/RFC6455/blob/055b3eca13f314fb910ea55052a9f7d4e516fbc8/src/Messaging/MessageBuffer.php#L119) that generates the second error your posted. There was another issue posted recently where it was discovered NOD32 anti-virus was manipulating WebSocket data on a user's machine...which is absolutely mind boggling. The developer

[2016-05-21 00:04] uniquoooo commented on #27
I'll have to narrow it down in my code I think, seems to be happening on only 1 version of my code.

[2016-05-21 00:04] #27 closed

[2016-05-22 02:05] uniquoooo opened #31 "Any way to check if connection is open?"
I've been having issues where I am getting `Tried to write to closed stream.` after connecting so I'm planning to implement a message queue, however I have no way to check if the stream is writable as it is `protected`. Any way I could check or could I send in a PR for it?

[2016-05-24 21:30] cboden commented on #31
Can you post a bit more on this? A bit of code if you can, is this error spit out or handled by Pawl properly? Ideally I'd like to keep the abstraction and provide better handling for you via Pawl than exposing the underlying stream.

[2016-05-25 04:34] mbonneau opened #32 "HHVM Warning: unable to shutdown socket"
When running with hhvm I get:

Warning: unable to shutdown socket [107]: Transport endpoint is not connected in /root/phpstuff/Pawl/src/WebSocket.php on line 108

[2016-05-25 04:45] mbonneau commented on #32
Could be related to: https://github.com/facebook/hhvm/issues/6978

[2016-05-29 01:38] uniquoooo commented on #31
The error emitted by Pawl through `error`, I've done some debugging and it seems that the message buffer is writing a close frame, ending the socket and then sending another close frame (not sure how).

[2016-06-17 09:10] harveyslash opened #33 "Keep socket connection open , and send push messages from other classes"
I have made a helper class like :

[code]

I am using push notification using ratchet, and so , whenever I need the server to send a message to a client, I call the sendBroadcast method of this client.
What this does is, everytime a message needs to be sent, it initiates a connection , then sends the message, then closes it(this sounds like unnecessary overhead)

Is is possible to keep the connect

[2016-08-08 23:04] hsilvac opened #35 "Error conexion SSL"
Example:
[code]

Result: `Could not connect: Unable to complete SSL/TLS handshake:`

[2016-08-10 15:02] maxgu opened #36 "Connection timeout"
when i send this string PHP client stopped by timeout
[code]
but, if i remove any element from `data`, like this (i removed last element `updateDt`)
[code]
all works.
why?

My php client:
[code]
My server - https://github.com/t4web/Websocket/blob/master/src/Server.php

When i send first string in console i see:
[code]
thats all.

When i send second string (without one element in `data`), i see:
[c

[2016-08-12 13:40] maxgu commented on #36
I change client: now i use https://github.com/Textalk/websocket-php
all works

[2016-08-12 20:10] Akhawais opened #37 "Can't seem to connect to any websocket server"
Hey there, using latest version (v0.2.2) and can't seem to connect to any websocket server at all.

Tried using echo.socketo.me:9000 and echo.websocket.org (using the first example on the README.md of this repo).

Most of the times I've tried I've just got no output from the console although twice I did get this outputting on the console:

[code]

(Pretty sure that the server I connected with when

[2016-08-12 22:49] mbonneau commented on #37
@Akhawais - I just created a new project using the simple example in the README and was able to connect to `ws://echo.socketo.me:9000` and get the echoed text.

I am using php 7.0.5 with Pawl version 0.2.2. Could you post a gist of your code?

[2016-08-12 22:51] Akhawais commented on #37
Sure https://gist.github.com/Akhawais/7e2a55125e246ccdf92bf6191bd6a573

[2016-08-12 22:59] mbonneau commented on #37
I just pasted that code into my project (I changed the require path but that is it) and it worked fine for me. I am not sure what would cause that to fail unless you are behind a firewall or proxy of some sort.

[2016-08-12 23:02] Akhawais commented on #37
Not sure why it's failing either. Ratchet was working fine 2 days ago. I'm able to connect to WS via other clients on the same machine and even trying Ratchet on a different machine and internet connection doesn't work.

[2016-08-12 23:05] mbonneau commented on #37
Here is the output of my `composer info` - maybe there is some underlying library version that is different?

[code]

[2016-08-12 23:11] Akhawais commented on #37
`composer info` showing the exact same versions as yours.

[2016-08-12 23:16] mbonneau commented on #37
What type of event loop is react using? You can find out like this:

[code]

[2016-08-12 23:22] Akhawais commented on #37
`React\EventLoop\StreamSelectLoop`

[2016-08-12 23:27] mbonneau commented on #37
That is what mine is using and should work fine. I am not sure what to try next - if you would like to post a packet capture of the attempted connection, I would be willing to look at it - or maybe someone else knows what is going on.

[2016-08-12 23:29] Akhawais commented on #37
Okay. What's really weird is the HTTP response that it outputs, I have no idea what server it's getting that from. Anyway, I'll try a bunch of things - maybe reinstalling Ratchet or trying a third machine - and if it still doesn't work then I'll do what you suggested.

Thanks for you help though. Appreciate it.

[2016-08-12 23:51] Akhawais commented on #37
Reinstalling Ratchet/3rd machine didn't work. Also tried a bare ratchet installation in a different directory which didn't work either.

@mbonneau Could you direct me on how to do a packet capture? If it helps, I've posted what seems like the HTTP response which gets outputted.

Thanks.

[2016-08-16 21:18] Akhawais commented on #37
If it helps, I'm using Google DNS and it still doesn't work.

On close event, I get this: `Code: 1006 - Underlying connection closed`

[2016-08-16 22:26] Akhawais commented on #37
Just a follow up on this:

I have setup a simple node.js websocket proxy on the same machine I am running Pawl with. Just relays the socket data between Pawl and the actual Ws server.

For some reason, this allows Pawl to connect to any websocket server (e.g. echo.socketo.me:9000 or echo.websocket.org) but using Pawl directly with those servers fails with `1006 - Underlying connection closed`

Any

[2016-08-18 15:12] cboden commented on #35
I don't remember the specifics but I think I remember this being a legacy/security thing. The version of PHP you're using has an outdated SSL negotiation model. I *think* I remember React chose to error out instead of make an insecure connection. I'll look for the issue. In the mean time try a newer version of PHP. I ran your script on 5.5 which failed and 7.0 where is passed. IIRC 5.6 should work

[2016-08-18 15:13] #36 closed

[2016-08-18 15:14] cboden commented on #37
Very strange. Sounds like it could be some kind of firewall blocking? I ran your gist on a fresh install of Pawl and had no problems.

[2016-08-18 19:10] Akhawais commented on #37
I did try without any firewall running and that didn't work either.

I tried today connecting directly to the websocket server and it did successfully connect after 5 minutes of leaving it running. I don't believe that's caused by an issue with the particular server because the same delay occurs for echo.websocket.org.

The server in question (that I use Pawl mainly for) is `irc-ws.chat.twitch.tv`

[2016-08-18 21:24] hsilvac commented on #35
OK, thanks. Php 5.5 perfect and working!

[2016-08-18 21:24] #35 closed

[2016-08-19 18:22] Akhawais commented on #37
Hey there, I found out that there was a function that was hanging in the `then()` closure. I've removed that and now Pawl is working fine.

Although I don't understand why it hangs in the test setup that I did, which doesn't have any functions in the closure.

Anyway, my issue is resolved with the main code. Thanks guys.

[2016-08-19 18:22] #37 closed

[2016-09-10 08:34] adeshpandey commented on #4
is there a  way to disable subprotocol check ?

[2016-09-29 18:38] cboden commented on #4
Not on the client side. The server accepts any sub-protocol *requests* from the client and decides how to handle from there.

[2016-10-22 05:04] erleeman commented on #33
You have to run all your code inside the loop. Or use a message broker like ZMQ.

[](http://socketo.me/docs/push)

And (not especially your use case but same problem):

[](https://github.com/reactphp/http/issues/75
)

[2016-11-24 08:23] DavidM974 opened #38 "How to personnalize the loop"
Hello,
I'm trying to use your lib for an api
i would like to personnalize the loop and let the connection open for my script and send different api call.

How can i personnalize this code to add my function in the loop?
I can connect but i can't do what i want.
Here the basic code with my connection

[code]

Have you an example?
Regards,

[2016-11-28 10:09] DavidM974 commented on #38
i found my answer here : **https://blog.wyrihaximus.net/2015/01/reactphp-introduction/**

[2016-11-28 10:09] #38 closed

[2016-12-15 10:47] DavidM974 opened #39 "How to reopen a closed connection?"
Hello,
I'm using your lib to do some test on an api and i would like to know how to reopen a connection closed using your exemple on the event close

[code]

How to reopen a connection after this line ` echo "Connection closed ({$code} - {$reason})\n";`

Regards

[2017-01-01 18:02] cboden commented on #33
Your `SocketPush` class is run inside your website (not within your Ratchet) app, correct? If so what you're doing is correct. It's the same as the push tutorial just using a different transport. With each client request to your website you do have to open and new connection every time as the environment is destroyed at the end of the request.

[2017-01-01 18:16] cboden commented on #39
I would recommend creating a new connection when the connection is closed. You'll have to abstract some of your code into re-usable functions and maintain a connection variable. I would also recommend using [RxPHP](https://github.com/ReactiveX/RxPHP) as it makes this kind of behaviour trivial.

[2017-01-02 21:26] cboden commented on #31
Sorry for not responding to this. Is this still an issue or has it been resolved in any of the releases since opened?

[2017-01-04 03:52] jameshilliard opened #40 "Option to disable SSL certificate verification"
I'm trying to connect to a websocket server and am getting this error:

[code]

I should have a valid SSL certificate(it works ok in the browser) however I'm running a non-standard websocket server application which may have issues with the full chain.
I'm trying to disable SSL certificate verification for testing but I'm not seeing an obvious way to do that.

[2017-01-05 15:48] cboden commented on #40
The [third parameter](https://github.com/ratchetphp/Pawl/blob/master/src/Connector.php#L20) of the  Connector class accepts an associative array of [SSL context options](http://php.net/manual/en/context.ssl.php).

[2017-01-20 18:51] CyanoFresh opened #41 "Timeout for connection to server"
Hello. I want to do this: If server does not respond for 2 seconds - cancel connection and return message with error to client. How to do this by this library?

Btw thanks for nice work!

[2017-03-02 18:54] mougrim opened #42 "Pass custom dns resolver"
It will be great, if I can pass custom dns resolver to `\Ratchet\Client\connect` (and pass it to `\Ratchet\Client\Connector` construct).

[2017-03-02 18:59] mougrim commented on #42
Possibility to use `\React\SocketClient\TcpConnector` instead of `\React\SocketClient\DnsConnector` would be great to.

[2017-03-24 20:55] finguer opened #43 "Could not connect: Connection to IP:8080 failed: Permission denied"

[2017-04-03 07:17] DavidM974 commented on #39
Is it possible to have a small example? i can't find the good way. i tried to put in a function but it's not working.

[2017-04-27 20:57] chris-fa opened #45 "Connector promise won't execute any of the callbacks"
I'm running this client from an MVC web application that runs in Apache, so I just want to do a `open-send-close` operation. I don't want to keep connection persisted or anything. Basic stuff.

Here's my code (this is a Class, not a script. I'm just pasting what's important:

[code]

As you can see, there is a `die()` call in both callback, but it's never called. It should be dying. What am I doin

[2017-04-27 21:12] chris-fa commented on #45
I didn't call `$this->loop->run()`... never drink 2 16oz coffees in 2 hours

[2017-04-27 21:12] #45 closed

[2017-04-27 22:01] chris-fa commented on #41
bump

[2017-05-06 14:10] #40 closed

[2017-05-09 13:51] ikovalyov opened #46 "react/socket-client"
Any way to update composer to require 0.7 version? Or even require https://github.com/reactphp/socket instead?

[2017-05-26 07:35] user4B1D opened #47 "Unable to complete SSL/TLS handshake"
Hello, i'm having an issue with a specific wss server. Curiously enough "wss://echo.websocket.org" works just fine. The endpoint i'm trying is "wss://connect-bot.classic.blizzard.com/v1/rpc/chat" This is a known good endpoint, works fine in javascript and other services.

[code]

composer::
[code]

php version:
[code]

php modules:
[code]

OS stuff:
[code]

When I connect to server this is the out

[2017-05-26 08:23] clue commented on #47
Thanks for the elaborate error report! :+1:

It looks like this is not an issue in this library but actually how PHP tries to establish a secure TLS connection to this endpoint. This can easily be verified like this:

[code]

Does anybody happen to have any thoughts?

[2017-05-26 09:57] user4B1D commented on #47
So i've been trying to do some sleuthing around, found out that ```openssl s_client -connect connect-bot.classic.blizzard.com:443```
returns an error code: ``` Verify return code: 21 (unable to verify the first certificate)```

I contacted my webhosting provider (a2hosting.com) and they were kind enough to also help.

From my understanding having a chain like this we need the valid first level hos

[2017-05-29 11:12] user4B1D commented on #47
quick update: adding the context option for cafile got me to another error, but im making progress.

the ca file needed is: DigiCertSHA2HighAssuranceServerCA.crt for this particular server

next error is

[2017-05-30 18:08] quarkmarino opened #48 "Getting "Connection closed before handshake""
Hi there, I'm having trouble connecting to the following ws "wss://streamer.cryptocompare.com"

docs here, https://www.cryptocompare.com/api/#-api-web-socket-

my implementation is the following

Btw, I'm running it on a laravel command "handle()' method

[code]

basically the same first example from the docs, now, I've already got another working ws client in another project, however, in that oth

[2017-05-30 18:31] mbonneau commented on #48
@quarkmarino Can you post the node code for comparison?

[2017-05-30 18:36] quarkmarino commented on #48
Sure

in the same manner, it is an adonisJS command

[code]

[2017-05-30 20:15] quarkmarino commented on #48
Ohh ok, then I'll have to go with socket.io, thank you for your time @mbonneau

[2017-05-30 20:15] #48 closed

[2017-06-05 06:40] user4B1D commented on #47
So running through the default code again, I tried this:
[code]

I found that it doesn't pass the $secureContext array from Ratchet\Client\Connector to React\SocketClient\SecureConnector for reasons unknown so far.

[2017-06-05 06:58] #47 closed

[2017-06-05 13:20] clue commented on #47
Happy to see you've managed to solve this! In case anybody runs into similar problems, may I ask you for a short gist of the fixed code? :+1:

[2017-06-05 20:39] user4B1D commented on #47
I had missed the fact that the constructor for the connector paeses security options (SSL context options) so I added those and got past the cert failure with an included cafile. After that it told me the handshake failed. As per the rfc this was correct so I added the sub protocol option as json and it's working now.

[2017-06-22 03:29] fudepita opened #49 "Unable to complete SSL/TLS handshake"
Hello. I'm trying to avoid SSL error, but who understands why it does not work?

Error:
---
Could not connect: Unable to complete SSL/TLS handshake: stream_socket_enable_crypto(): SSL operation failed with code 1. OpenSSL Error messages: error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed
---

Code Part:
---
$url_twoway_list = "wss://public.bitpoint.co.jp/bpj-api/twoW

[2017-06-22 06:11] user4B1D commented on #49
Maybe try providing a cafile?

[2017-06-23 07:40] fudepita commented on #49
thanks!　I avoided it, but it does not work.
Is not it compatible with SockJS?

---
Could not connect: HTTP/1.1 200 200
Date: Fri, 23 Jun 2017 07:28:32 GMT
Server: Apache
Access-Control-Allow-Origin: https://public.bitpoint.co.jp
Access-Control-Allow-Credentials: true
Access-Control-Allow-Methods: POST, GET, PUT, OPTIONS, DELETE
Access-Control-Max-Age: 3600
Access-Control-Allow-Headers: X-Requested

[2017-06-24 14:27] mbonneau commented on #49
@fudepita - It looks like you should be passing the `secureContext` to the constructor, not the invocation:

https://github.com/ratchetphp/Pawl/blob/55256f590ab457fc9da57aa3f88e2edb5a2386c1/src/Connector.php#L20

[2017-07-25 00:48] Mrmrprofessional opened #50 "Sending Messages to Ratchet server with Pawl"
I am running a websocket server with Ratchet. The problem is when I have the server execute shell scripts based on incoming messages, I need there to be a way to let the server know that the script is finished executing. My solution was for the shell scripts to call a php script that sets up a client using pawl, and then sends a message to the server informing it of the completed task. Whenever I

[2017-07-25 07:03] clue commented on #50
HI @Mrmrprofessional! It looks like your `exec()` call blocks your event loop until it's finished and thus your server has no way of accepting any new connections until this script finished. As an alternative, you may want to use https://github.com/reactphp/child-process to execute a child process without blocking. This will also simplify reacting to when the script finished and you should no long

[2017-07-25 20:04] Mrmrprofessional commented on #50
Hi,

Thank you for the response. It looks like the child process could be of great help. I figured out that the problem was that the command line was waiting for a user input even though it is not supposed to. I fixed the issue by adding &>/dev/null & to the end of the command.

Currently I am using Cron to run scripts at specified times that then establish a web socket client and send a message t

[2017-07-25 20:36] clue commented on #50
Depending on what you're trying to do a cron job may or may not be the best tool for the job :-) If it works for you, I see no reason to change this :+1: As an alternative, you may want to spin up a periodic timer to send your messages and perhaps keep the websocket client connection open.

[2017-08-03 19:20] shtse8 opened #51 "Segmentation Fault"
I want to connect to a websocket using PHP, but a segmentation fault is thrown.

Code:
[code]

Result:
[code]

Environment:
1. Libevent 2.1.8
2. PHP 7.1

[2017-08-03 21:58] clue commented on #51
It looks like you're using an unsupported beta of ext-libevent here? See also https://github.com/reactphp/event-loop/pull/62 for more details.

[2017-08-04 23:01] shtse8 commented on #51
Thanks for your help. I have read that post before. But I still don't understand how I should fix it. Which libevent or any other event extensions should I install. I have followed some guild lines from google and compile the latest version of libevent which supported php 7.1 other people said. But still throwing SF.

[2017-08-05 10:44] clue commented on #51
The beta of ext-libevent you're using is currently bugged, make sure to let the author of said guides lines know :+1:

In the meantime, you may want to check out the "event" extension. We've seen reports of people successfully using this on PHP7, see also https://github.com/reactphp/event-loop/issues/55#issuecomment-271234568.

[2017-08-06 18:31] shtse8 commented on #51
Thanks very much! It works great now.

[2017-08-06 18:31] #51 closed

[2017-08-22 09:59] nazreinkaram opened #52 "Can't connect more than one websockets simultaneously"
Unable to connect to two or more WebSocket services simultaneously,

The second request goes in waiting and instantly connect when first connection  closes

here is what I did

[code]

This only connects to one resource at a time and second connection goes to waiting, as the first connection closed, second (waiting) connection connects instantly.

Also,  there is unlimited timeout, how to provide

[2017-08-22 15:12] cboden commented on #52
Can you post all of your code so I can reproduce please? What's given isn't enough to go on.

[2017-08-23 00:45] JimmyPruitt opened #53 "Connecting to WSS: Unable to complete SSL/TLS handshake"
I have a Websocket server that is running behind Apache that I'm able to connect to using Chrome, Safari, and Telnet just fine. However, when attempting to connect to that same server from PHP using Pawl, it's throwing an exception during the handshake:

`Unable to complete SSL/TLS handshake: stream_socket_enable_crypto(): Peer certificate CN='*.foo.bar' did not match expected CN='local.blah.foo.b

[2017-08-23 12:55] nazreinkaram commented on #52
Updated original post as requested

[2017-08-23 17:08] cboden commented on #52
The [connect](https://github.com/ratchetphp/Pawl/blob/master/src/functions.php#L13) function is an abstraction to hide the event loop, which is fine for one connection, but as you've found doesn't work for multiple as it creates an event loop per call. You need to inject a single event loop into each connection.

You will need to use the Connector class instead, as seen in the [second example of t

[2017-08-23 17:56] cboden commented on #53
Take a look at previous [issues about ssl](https://github.com/ratchetphp/Pawl/search?q=ssl&type=Issues&utf8=✓). It looks like you're using a self signed certificate? In that case you need to pass [SSL context options](http://php.net/manual/en/context.ssl.php) to the Connector.

[2017-08-23 17:57] cboden commented on #46
Yup, this is something that should be done. I'll look into it in the next couple weeks.

[2017-08-23 20:48] JimmyPruitt commented on #53
Does that mean I would have to instantiate the `Connector` myself, or would this be in the third parameter to `connect()`?

[2017-08-24 16:44] nazreinkaram commented on #52
This one worked for multiple connections perfectly.

But the problem of freezing still exists

**If remote server is not running at the time of creating connection (calling connect_to_websocket () in below code) then the script freezes, it doesn't connect to server when server comes online, which needs force closing/canceling the script**

And where to edit or pass timeout?

[code]

[2017-09-11 09:25] MartinvdBij commented on #41
It does not seem to have an timeout at all ? I also have the need for a timeout, preferably custom defined.

[2017-09-11 14:23] cboden commented on #42
The connect function is meant to simplify 90% of use cases by having a minimal API. The Connector class allows more customization, including a custom DNS Resolver, which is what you should use if that's required.

I don't quite follow your second comment about the Connectors?

[2017-09-11 18:09] mougrim commented on #42
@cboden after half a year, I'm not sure, what I did mean.
But I think, it's about [src/Connector.php](https://github.com/ratchetphp/Pawl/blob/master/src/Connector.php):
[code]
SocketConnector is deprecated and \React\SocketClient\DnsConnector's wrapper.
So, I think it would better have possibility to provide connector. If it isn't passed, use  \React\SocketClient\DnsConnector.

So, ok, I can creat

[2017-09-11 18:11] mougrim commented on #42
Also it would great to add doc to function connect about it.

[2017-09-20 19:26] FelipeVargas86 opened #55 "How Check if server is online"
How check if server is online or offline??? why function exception doesn't work

[2017-10-03 16:49] mbonneau commented on #31
Closing this because there has been no activity.

[2017-10-03 16:49] #31 closed

[2017-10-03 16:50] mbonneau commented on #33
Closing this because there has been no activity in a while.

[2017-10-03 16:50] #33 closed

[2017-10-03 16:53] mbonneau commented on #41
@CyanoFresh @chris-fa @MartinvdBij - are you referring to connection timeouts or response timeouts?

[2017-10-03 16:54] mbonneau commented on #46
See #56

[2017-10-03 16:59] mbonneau commented on #42
+1 for adding a connector argument to the constructor instead of the resolver.

[2017-10-03 17:00] CyanoFresh commented on #41
@mbonneau connection timeout (btw connection consists of response(s))

[2017-10-03 17:01] mbonneau commented on #43
@finguer - I am not sure what the issue is with this. If you would like to provide more information (composer info/os info) that may be helpful.

I am going to close this for now, please feel free to reopen an issue if you are still having one and have more info.

[2017-10-03 17:01] #43 closed

[2017-10-03 17:03] mbonneau commented on #49
@fudepita - I am closing this issue. Please let us know if the previous solution worked.

[2017-10-03 17:03] #49 closed

[2017-10-03 17:04] #50 closed

[2017-10-03 17:05] mbonneau commented on #53
I didn't see the follow up question - reopening...

[2017-10-03 17:07] mbonneau commented on #53
@JimmyPruitt - On your follow-up question - do you know if the name is able to be resolved? By default the resolver in Pawl uses `8.8.8.8`.

[2017-10-03 17:08] mbonneau commented on #55
@FelipeVargas86  - could you please provide a bit more info? If you are getting an exception, can you post that here?

[2017-10-03 18:50] clue commented on #53
This error looks correct to me, as wildcard SSL certificates should only work one level below the root domain, perhaps https://stackoverflow.com/questions/2115611/wildcard-ssl-on-sub-subdomain could help here?

Other than that, you may also pass the `peer_name` context option to set the expected peer name for your remote host. This parameter should have preference over the implicit domain name fro

[2017-10-09 14:02] CyanoFresh commented on #55
maybe related to #41

[2017-10-09 14:06] mbonneau commented on #41
#57 Will allow the use of the [`TimeoutConnector`](https://github.com/reactphp/socket#timeoutconnector)

[2017-10-12 01:26] cboden opened #59 "0.3 and React stream"
With the change in reactphp/stream#95 this [exception fix](https://github.com/ratchetphp/Pawl/blob/master/src/WebSocket.php#L107) is no longer going to work.

[2017-10-12 01:48] cboden commented on #59
Woot, this is no longer a thing! With the newer version of React, `Socket\Connector` now returns a `Socket\Connection` instead of a `Stream\DuplexStreamResource`, which does its own proper shutdown so we no longer have to work with the underlying resource!

[2017-10-12 01:48] #59 closed

[2017-10-12 02:14] cboden commented on #32
As we're no longer calling the shutdown function ourselves this is now a React issue.

[2017-10-12 02:14] #32 closed

[2017-10-12 02:16] cboden commented on #41
With the release of v0.3 connection timeouts are now possible:
[code]

[2017-10-12 02:16] #41 closed

[2017-10-12 02:18] cboden commented on #42
With the release of v0.3 you can now customize DNS information on the Connector class via React's Connector class. See the example at the bottom of the README for an example.

[2017-10-12 02:18] #42 closed

[2017-10-12 02:18] cboden commented on #46
Done! Thanks @mbonneau!!! v0.3 has been released with a slight API break that now uses the latest version of React Socket.

[2017-10-12 02:18] #46 closed

[2017-10-12 02:20] cboden commented on #55
@FelipeVargas86 Can you test with v0.3 with a timeout option in the connector? (see bottom of the README for an example). With that are you still having a problem?

[2017-10-12 07:28] clue commented on #32
I suppose the underlying issue has already been worked around in ReactPHP: https://github.com/reactphp/socket/pull/91 :shipit:

[2017-10-19 16:14] CharlotteDunois opened #61 "Pawl closing connection with code 1006 instead of 1000"
When I try to close the websocket connection with a close code 1000 (close normal), then Pawl instead disconnects with a close code 1006 (close abnormal). I've found this issue while fiddling with the Discord API and the bot account still stayed online as opposed of showing as offline. So I've fiddled a simple Node.js websocket server which dumps the close code.

PHP code:
[code]

JS code:
[code]

[2017-10-19 16:34] cboden commented on #61
hmm, this is a little puzzling the fact that is happens with 2 different servers...

The logic is in fact in Pawl, not the RFC lib. 1006 is supposed to be issued if the underlying socket is closed without the upper WebSocket doing a closing handshake first...

1. If you [call close](https://github.com/ratchetphp/Pawl/blob/master/src/WebSocket.php#L136) it will
2. Call the inner [close closure](htt

[2017-10-19 16:59] CharlotteDunois commented on #61
No, the `var_dump` only happens once. However if I comment out the `return` statement inside the close closure, I do get two. The first one being code 1000 and the second one 1006, which is what I would expect, since the stream was closed, but since it was supposed to be a normal close, we ignore the abnormal close, hence the static variable and `return` statement.

[2017-10-20 14:17] cboden commented on #61
I tried your node script and received the same result. I made a Ratchet server to contrast and received a 1002 when Pawl attempted to close.

Pawl close payload:
![screen shot 2017-10-20 at 10 09 50 am](https://user-images.githubusercontent.com/617694/31825308-c4ebca52-b57f-11e7-9e3f-94c45f9a9f39.png)

Ratchet response payload:
![screen shot 2017-10-20 at 10 09 59 am](https://user-images.githubuse

[2017-10-20 14:29] cboden commented on #61
The PR didn't fully fix the problem. Pawl is being impatient beginning the shutdown process after sending its close frame before it has received the ack from the server. The node example doesn't like this. I'll need to do another PR with a timeout that will end the connection after sending in case the server doesn't sever the connection.

[2017-10-20 14:49] cboden commented on #61
From https://tools.ietf.org/html/rfc6455#section-7.1.1:

   first by the server, so that it holds the TIME_WAIT state and not the
   client (as this would prevent it from re-opening the connection for 2
   maximum segment lifetimes (2MSL), while there is no corresponding
   server impact as a TIME_WAIT connection is immediately reopened upon
   a new SYN with a higher seq number).  In abnormal cas

[2017-10-20 21:49] CharlotteDunois commented on #61
The mentioned PR does work for me (and Discord). :)

[2017-10-22 16:35] enygma opened #63 "Is `onOpen` possible?"
I'm trying to look through the source to see if there's a way to have an `on` handler for "open" but all I'm seeing are `close` and `message`. Is there a way I'm missing to be able to fire an event on the opening of the connection and before the first message comes in?

[2017-10-22 21:13] cboden commented on #63
When the [WebSocket class](https://github.com/ratchetphp/Pawl/blob/master/src/WebSocket.php) is instantiated by the connector, resolving the promise, and returned inside your `then` function the connection is open.

[2017-10-22 21:19] cboden commented on #61
v0.3.1 has been released with this fix

[2017-10-22 21:19] #61 closed

[2017-10-30 22:11] cboden commented on #63
Closing as it looks like you got it [figured out](https://github.com/psecio/dbot) 😀 👍

[2017-10-30 22:11] #63 closed

[2017-10-30 22:11] #55 closed

[2017-10-31 00:58] suhuaguo commented on #39
@DavidM974 。hello 。Haveyou solved 【How to reopen a closed connection】 this problem  or give me some idea 。

[2017-10-31 02:54] sentiasa opened #64 "Wamp2 error"
I am pretty new to websockets and I tried making a websocket connection with poloniex. This is what I have run:

[code]

But I received error:

I also tried `$connector('wss://api.poloniex.com', ['wamp'])` and `$connector('wss://api.poloniex.com', ['wamp2'])` but same error persists

[2017-10-31 03:57] mbonneau commented on #64
Looks like that server speaks WAMPv2 - see https://github.com/voryx/Thruway or https://github.com/voryx/RxThruwayClient for WAMPv2 PHP clients.

[2017-10-31 04:12] mbonneau commented on #64
@sentiasa

I tried this out with RxThruwayClient - here is the code to maybe save you some time getting it going:
[code]

[2017-11-02 02:14] suhuaguo opened #65 "TCP connection"
hello . The Pawl support persistent TCP ? but I cannot seek out this code ?

[2017-11-02 13:57] cboden commented on #65
I don't believe ReactPHP (which powers Pawl) has support for persistent TCP connections. What is the use case you require this for?

[2017-11-08 17:10] #64 closed

[2017-11-09 08:55] suhuaguo commented on #65
consume MQ(Kafka  RocketMQ) message 。so i try it 。Pawl can support persistent TCP

[2017-11-09 09:50] clue commented on #65
I think the word "persistent" may be a bit misleading when using ReactPHP. If you're using ReactPHP, then everything will be "persistent" until you kill your process or explicitly close any stream. This means that Pawl will use "persistent TCP/IP connections" by default.

Does this help?

[2017-12-04 18:50] kost-g opened #67 "How to keep session alive..."
Please explaine how to keep session with server alive more then 1 minute?

[2017-12-05 16:59] kost-g commented on #67
It fails with code : Connection closed (1006 - Underlying connection closed) ?

[2017-12-05 17:11] cboden commented on #67
Connections are automatically persistent. If the connection is severed after 1 minute my best guess is you have a proxy that is severing connections after 1 minute.

Code 1006 is ABNORMAL_CLOSE which happens when the underlying TCP connection is severed without a proper closing handshake between the client and server.

Please provide more info about your client and server if you require more help

[2017-12-05 18:01] kost-g commented on #67
I think it is not 'hand shake' because connection works good for 1 minute. I think it is PING-PONG, because it should send every minute frame.. My code:

<?php
require __DIR__ . '/vendor/autoload.php';

$loop = React\EventLoop\Factory::create();
$reactConnector = new React\Socket\Connector($loop, [
    'dns' => '8.8.8.8',
    'timeout' => 240
]);

$connector = new Ratchet\Client\Connector($loop, $

[2017-12-06 10:49] kost-g commented on #67
So as I see in FIddler WebSocket connection don't establish Probably I should add some headers for request...

[2017-12-06 14:20] kost-g commented on #67
I am using Open Server for Windows

[2017-12-21 03:27] jaggedsoft commented on #52
I am also having the same problem, I will attempt the fix mentioned above

[code]

[2017-12-21 03:44] jaggedsoft commented on #52
Using the loop above fixed it for me. Thank you
Is it possible to use more than one loop?

[2018-01-13 09:57] suhuaguo opened #68 "asynchronous WebSocket client"
I use Pawl  ，but it is not asynchronous 。it is really asynchronous ?

[2018-01-19 10:12] sangio90 opened #69 "why is connect function always executed as last instruction?"
Hello,
 I'm trying to send multiple WS messages during a long procedure (30 to 60 seconds).
Calls to _connect_ function were put in different places but what I notice is that they are all executed as last instructions of my procedure, so what I get is a bunch of messages sent at the end of the procedure.

Is it supposed to work this way? Should I use Threads to avoid it?

Thanks!

[2018-01-19 11:57] sangio90 commented on #69
I went into more depth to find out that the problem was in the send/close method.

They are called synchronously, but the stream is passed to the server asynchronously and in my case they are all waiting for my procedure to complete (don't know why).

The only way around was to execute the rest of my procedure in a callback called on $conn event "close".

e.g.

[code]

Anyone of you found a better

[2018-01-19 12:56] clue commented on #69
ReactPHP works under the assumption that the loop must not be blocked. If you block the loop for this period of time, you're going to run into problems, see also https://github.com/reactphp/react/wiki/FAQ.

This is a pretty common problem. As an alternative, I would suggest moving these kind of things off to a worker queue.

[2018-01-19 13:27] sangio90 commented on #69
The strange thing here is that I was expecting the ->send function to block the rest of the execution, instead what I got was a super fast ->send and ->close call, (that did nothing) and then the rest of my steps (4,5 which where just after the ->close call), and only then the ->send call would be really executed. Is it right?

What I want to achieve is a batch script which informs the WS Server (

[2018-01-19 13:45] clue commented on #69
Both `send()` and `close()` are async. And so should be your "long procedure". Maybe use react/child-process to spawn this in a separate process and use STDIN/STDOUT to send "progress" messages?

[2018-01-19 13:52] sangio90 commented on #69
I'll try the child-process and let you know. My "progress" messages should be sent to the client which should reload a grid whenever some of the steps are completed, so I cannot use stdin/out. I'm not sure if there are best practices on how to handle these problems.

[2018-01-19 14:18] clue commented on #69
Here's some pseudo code to get you started :+1:

[code]

[2018-01-19 14:54] mbonneau commented on #68
Yes - it is async - check out the examples in the README for more info: https://github.com/ratchetphp/Pawl#example or read up on ReactPHP at https://github.com/reactphp/react/wiki/FAQ.

[2018-01-19 14:54] #68 closed

[2018-01-19 15:12] cboden commented on #69
In addition to what Christian has said part of the reason nothing happens until the end of your procedure is that when using nonblocking I/O in PHP the code is lazy and doesn't execute until the event loop starts running, which if you're using the "simple" example from the README, happens [at the end of the process](https://github.com/ratchetphp/Pawl/blob/master/src/functions.php#L19-L20).

[2018-01-19 15:41] sangio90 commented on #69
So in the end I should split my procedure into multiple Commands, at the end of which I send a websocket message and call php-cli process to execute the next step, right?

[2018-01-19 15:44] clue commented on #69
[code]

[code]

[2018-01-19 16:03] sangio90 commented on #69
Thanks guys!

[2018-01-19 16:03] #69 closed

[2018-01-25 17:15] luX0r-reload opened #70 "How to use with push server with Ratchet?"
Hi,
I developed on local a site with Ratchet and your push server using ZeroMQ.
All works fine untill today when I wrote to web provider to install ZeroMQ on a VPS to bring site from local to production server.
They told me zeromq not supported by cPanel and Easy Apache 3 or 4.
So I'm in panic!
Please can you update Ratchet Push Server Sample for using with Pawl?

Thanks in advance

[2018-01-26 08:49] kelunik commented on #52
No, everything needs to run on the same event loop.

[2018-01-30 03:41] suhuaguo opened #71 "status code :407"
HTTP/1.1 407 Proxy Authentication Required
Content-Length: 33?

[2018-02-01 14:05] MrMoronIV opened #72 "Another SSL question"
[code]

Running on PHP 7.2

The actual socket I try to connect to is running on the same server and is a very well working Ratchet socket with valid domain certificates.
I'm not sure what SSL settings I should pass on.

And yes, I read all the other SSL topics ;)

[2018-02-01 15:42] mbonneau commented on #71
@suhuaguo Could you provide a little more information?

[2018-02-01 16:20] clue commented on #72
It looks like you're missing the `tls` key for your context passed to the `Connector`, see also https://github.com/reactphp/socket#connector 👍

[2018-02-01 19:03] MrMoronIV commented on #72
you mean 'tls' => true, in the connector ssl array? Didn't change a thing...

[2018-02-01 19:13] clue commented on #72
Straight from the documentation linked above:

[code]

[2018-02-01 19:37] MrMoronIV commented on #72
that doesn't do much, same error as before:
`Could not connect: Unable to complete SSL/TLS handshake: stream_socket_enable_crypto(): SSL operation failed with code 1. OpenSSL Error messages: error:14090086:SSL routines:ssl3_get_server_certificate:certificate verify failed `

[2018-02-01 19:53] MrMoronIV commented on #72
Follow up question, the connectoin seems to be closed immediately,
` $conn->send('Hello World!');
is actually never sent to the server, any idea why that happens?
It just says connection closed (code 1000) normal closure

[2018-02-01 20:05] MrMoronIV commented on #72
My ratchet server has this function in the app (which works great when a browser is connected)
[code]
the dump never gets called when i run the above pawl script

[2018-02-11 04:10] skecskes commented on #67
In my case I'm receiving ```Connection closed (1000 - )``` after 1 minute. The websocket server I consume is set up in a way that it never sends pings. It sends only messages. If the client doesn't send ping after 60 seconds, the server will disconnect me. I can see in browser in developer console that some javascript client sends ping every 25 seconds and never gets disconnected.

Is there a way

[2018-02-26 12:51] mrshidashrf opened #74 "Could not connect: Server did not respond with an expected Sec-WebSocket-Protocol"
Hi, I m using this package or facing this error. please help me to slove this issue

[2018-02-26 15:36] mbonneau commented on #74
@mrshidashrf Can you please provide more information? What are you connecting to? What subprotocol is it running? Can you post your code?

[2018-02-27 05:58] mrshidashrf commented on #74
Hi, i m trying to connect crypto exchange wss api, url ( 'wss://www.bitmex.com/realtime?subscribe=instrument,orderBook:XBTUSD ) but getting this which is in question tilte

`require __DIR__ . '/vendor/autoload.php';
    $loop = React\EventLoop\Factory::create();
    $reactConnector = new React\Socket\Connector($loop, [
        'dns' => '8.8.8.8',
        'timeout' => 10
    ]);
    $connector = ne

[2018-02-27 09:21] oacApps opened #75 "Question: How to set Websocket client class using PAWL"
Hi @cboden @mbonneau
I just installed and configure RATCHET server and it is working 100% with my JavaScript (Browser) client. So I was looking for php client and came across this PAWL. This is looking great but I am failing to meet my requirements. I believe It does provide what I need and I am missing something. What I want to do is
"Write a class, which may have some method like 'ConnectToServe

[2018-02-27 22:14] mbonneau commented on #74
@mrshidashrf Drop all the arguments to `$connector` except for the URL. You are specifying subprotocols which is unnecessary for the bitmex API. (Also remove the `$conn->close` if you want the connection to remain open.

[2018-03-10 02:36] rudiedirkx opened #76 "Connect and send synchronously"
I want to connect and send synchronously. I'd like to use Pawl, because I'm also using Ratchet somewhere else in the same project.

So no promises, no shutdown functions. Just connect and send, and use the response (IF it worked, no incoming data).

Is that possible, or is this only promise based? Or can I have synchronous promises?

[2018-03-10 02:44] rudiedirkx commented on #76
This is synchronous:

[code]

but not very pretty. Is there a provided wrapper or do I wrap it myself?

[2018-03-10 03:20] rudiedirkx commented on #76
Just to be extra verbose, what I'd love is something like:

[code]

or something. Without promises and closures.

Is there a synchronous non-promise `Connector`?

[2018-03-11 19:33] dacoders77 commented on #4
What about HYBI protocol support?
https://tools.ietf.org/html/draft-ietf-hybi-thewebsocketprotocol-14
I am trying to connect to this C# server

[2018-03-12 14:24] cboden commented on #75
Yes, Pawl should meet your requirement. You should be able to do that from the example on the README.

[2018-03-12 14:29] cboden commented on #76
Pawl wasn't created with synchronous communication in mind because the WebSocket specification is bi-directional. You don't need to use the shutdown feature if you use your own React loop.

You can try clue/php-block-react if you want to use a coding style that doesn't require callbacks.

[2018-03-12 14:33] cboden commented on #4
HyBi is the code-name for beta version of the WebSocket protocol (now RFC6455); it is not a sub-protocol. Ratchet no longer supports HyBi as it graduated to the RFC with the HTTP version header increment.

[2018-03-12 14:34] cboden commented on #70
This is something on my TODO list. Unfortunately I don't have free time at the moment.

[2018-03-12 14:35] #65 closed

[2018-03-12 18:03] rudiedirkx commented on #76
`clue/php-block-react` is JS' `async/await`! That is very cool. Still event loop bound though. I know enough. Thanks.

[2018-03-12 18:03] #76 closed

[2018-03-14 07:30] mazetuski opened #77 "Is the communication between two Websockets Clients possible?"
I have 2 clients, one of them obtains data from an external server (this data I need to pass them to my websocket server with ratchet).
The other websocket client would serve to connect to my server with ratchet and pass the data obtained by the first websocket client.
Is there any way to get messages from one websocket client in the other websocket client?

[2018-03-14 08:08] clue commented on #77
Absolutely! Here's the gist:

[code]

[2018-05-22 21:53] mbonneau commented on #39
@suhuaguo @DavidM974 The connection is only meant to be used once, you have to reestablish the connection.

[2018-05-22 21:53] #39 closed

[2018-05-22 21:54] #52 closed

[2018-05-22 23:17] mbonneau commented on #67
@kost-g You can send a periodic ping using something like:
[code]

[2018-05-22 23:17] #67 closed

[2018-05-22 23:18] mbonneau commented on #53
Closing this issue - please feel free to comment if your issue is not fixed.

[2018-05-22 23:18] #53 closed

[2018-05-22 23:32] #77 closed

[2018-05-22 23:33] #75 closed

[2018-05-22 23:35] mbonneau commented on #72
@MrMoronIV It is hard to say what the problem is without more info.

Can you post the sources for your client?

[2018-05-22 23:35] #74 closed

[2018-06-26 08:05] Dju33 opened #79 "Unable to write to stream: fwrite(): send of XXX bytes failed with errno=32 Broken pipe"
Hi everyone,

I have this error with my websocket :

this appends a lot and I don't know how to solve it...I googled it but find nothing...so I really need your help.

Here my version :

[code]

PHP 7.1.11 (cli) (built: Oct 27 2017 14:45:33) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2017 Zend Technologies

[2018-07-06 17:30] mbonneau commented on #79
Answered here: https://github.com/reactphp/stream/issues/135

[2018-07-06 17:30] #79 closed

[2018-07-07 01:17] nimanr opened #80 "How to subscribe to multiple channels"
I am trying to subscribe to multiple channels using `Connect` function. at first I add some lines so that I can read stream messages from service like this:
[code]
So surely when you run this from CLI it works perfect and so if you change the `symbol` argument to for example `tETHUSD` in another file and run it in separate terminal, they both work fine alongside. but the problem is that you can't

[2018-10-12 16:36] mbonneau commented on #72
@MrMoronIV I am closing this because it is old. If you are still having issues, feel free to reopen.

[2018-10-12 16:36] #72 closed

[2018-10-12 16:48] mbonneau commented on #80
@nimanr There appears to be an issue in the code you supplied:
[code]
The second argument here needs to be a callable, you are passing the return value of `send`.

Try:
[code]

[2018-10-28 15:24] skecskes opened #83 "How to use with protobuf?"
Hi,

I'm trying to send messages to websocket using your ws client library. The websocket is using Google protobuf standard. Basicaly from *.proto file you are able to understand contract and create objects with required/optional values. I have working example of ws communication provided by their side in Javascript.

I'm constructing message in php, which looks very same as js example. It should

[2018-10-28 15:34] mbonneau commented on #83
@skecskes Protobuf is a binary protocol. In order to send binary, you need to construct the message before calling `send`:
[code]

[2018-10-28 20:24] #83 closed, assigned to nobody

[2018-11-30 12:08] platformsfx opened #84 "Memory leak"

[2018-11-30 13:41] #84 closed

[2018-11-30 13:50] mbonneau commented on #84
@platformsfx - Do you mind sharing what the resolution of this issue was?

[2018-12-04 07:49] ASK-Lee commented on #77
@clue Could you give a more detailed example? I don't know how to get $conn1 and $conn2, code as below is incorrect.
[code]

[2018-12-12 14:46] fnash opened #85 "Any example for WAMP messages?"
Hello,
Is there any example to use Pawl for a WAMP v1 server. like the old autobahn.js ?

[2018-12-13 22:40] mbonneau commented on #85
@fnash - I am not aware of any WAMP v1 PHP clients examples.

[2018-12-20 19:06] tafelnl commented on #70
Any updates on this?

[2019-01-01 20:13] mbonneau commented on #80
Closing due to inactivity.

[2019-01-01 20:13] #80 closed

[2019-01-01 22:46] mbonneau opened #88 "Close behavior"
This issue relates to PR #86.

Right now calling `close()` only calls `end()` on the underlying socket. This can be problematic if the resource does not close in a timely manner as there is no timeout and there is no way to force the connection closed.

The timeout solution would not solve the problem of closing the socket if the loop is stopped prior to flushing and closing.

Forcing the connecti

[2019-01-17 08:21] raksrivastava opened #90 "Could not connect: HTTP/1.1 426 No Sec-WebSocket-Protocols requested supported Connection Error"
When i run below code it gives error "Could not connect: HTTP/1.1 426 No Sec-WebSocket-Protocols requested supported Connection: Upgrade Upgrade: websocket Sec-WebSocket-Version: 13 X-Powered-By: Ratchet/0.4.1 " .
Please help.
[code]

[2019-01-17 15:03] mbonneau commented on #90
@raksrivastava This error means that the server and client could not agree on a subprotocol. Does the server you are connecting to support `protocol1` or `subprotocol2`?

[2019-03-09 22:01] ryancwalsh opened #92 "Connection closed (1009 - ) FRAME::CLOSE_TOO_BIG = 1009"
I'm excited to be using Pawl, and I have it working for small files (such as 350 KB).

However, when I send a larger file (say, 30 MB) via `$fullFileName` as shown below, I get this error: `Connection closed (1009 - )`.

[code]

When I search for usages of `Frame::CLOSE_TOO_BIG`, I see that it's only ever used by `\Ratchet\RFC6455\Messaging\CloseFrameChecker`.

But I've been unable to figure out h

[2019-03-10 01:15] mbonneau commented on #92
@ryancwalsh I am guessing that you are receiving that notification from the remote server saying the message size is too large.

[2019-03-10 01:28] mbonneau commented on #92
I am not 100% sure what Looking at the Watson API - I have found:

- "The WebSocket interface imposes a maximum frame size of 4 MB. "
- "The client can stream a maximum of 100 MB of audio data with a single utterance (per `send` request)."

Can you post your code where you are breaking the message into smaller frames?

[2019-03-10 01:39] ryancwalsh commented on #92
@mbonneau Thanks so much! Yep, I just found that page too and so have switched to doing this now:

[code]

However, this approach was just me winging it because I've never seen any example like this. I don't know what I'm doing.

And now, every time I try to run this, I get this response: `"error": "Session timed out."` after ~30 seconds.

And that's even if I set the Watson `inactivity_timeout` t

[2019-03-10 01:45] mbonneau commented on #92
Try sending each frame in the chunk instead of assembling the message. Then just send an empty final binary frame after to signify the end of the message. I am pretty sure using `addFrame` is causing the message to just reassemble the frames into a single blob again.

The timeout on the connector is only a connection timeout.

[2019-03-10 01:53] ryancwalsh commented on #92
Thanks, @mbonneau .

I don't know if I interpreted your suggestion correctly; this is what I tried just now, and unfortunately it still resulted in `"error": "Session timed out."` after ~30 seconds:

[code]

[2019-03-10 01:58] mbonneau commented on #92
I mean something like this:
[code]
I have not tested this code - it is just for the general idea.

[2019-03-10 02:14] ryancwalsh commented on #92
@mbonneau Good idea. I just tried that. This time I got `Connection closed (1006 - Underlying connection closed)`, which [Watson](https://cloud.ibm.com/docs/services/speech-to-text?topic=speech-to-text-websockets#WSreturn) says "indicates that the connection closed abnormally."

So, a different error code. I don't know which is easier to solve.

If you have any other ideas, I'm all ears. Thanks.

[2019-03-10 22:27] ryancwalsh commented on #92
@mbonneau I don't really understand the difference, but this seems to work!

[code]

[2019-03-10 22:27] #92 closed

[2019-03-11 14:25] #90 closed

[2019-03-19 18:59] ryancwalsh commented on #61
@cboden Thanks for `ratchetphp/Pawl`. Super impressive. And it's mostly working for me.

I'm using `"ratchet/pawl": "^0.3.4"`, and I wonder if this issue is actually fixed or not. [Above](https://github.com/ratchetphp/Pawl/issues/61#issuecomment-338223176) you said:

Do you think that's what I'm experiencing with [this problem here](https://stackoverflow.com/q/55224041/470749)?

Do you have any re

[2019-04-01 00:22] ryancwalsh commented on #61
@mbonneau You helped me solve [this problem](https://github.com/ratchetphp/Pawl/issues/92#issuecomment-471360453) 21 days ago, and I really appreciate it.

I haven't been able to make progress since then. I'm still stuck getting a [1006 error code](https://stackoverflow.com/questions/55224041/1006-error-code-in-ibm-watson-speech-to-text-api) every time I send an mp3 larger than ~23 MB / 66 mins. (

[2019-04-08 05:41] CharlotteDunois opened #94 "Receiving incomplete message after close"
Today an issue opened in my library has raised my eyebrows. This issue here is more a question than a bug report.

Someone reported an error about a call to close on null (although that has never happened before), due to that property being null (which should always be the websocket connection), it indicates that the websocket was closed prior to emitting the message event.

The property is only s

[2019-04-09 20:54] mbonneau commented on #94
@CharlotteDunois Once a `close` or `error` event happens, there should be no more events emitted from the `WebSocket`. When I get a chance I will dig into it a little and see if there may be an issue. If you are able to reproduce, that would be helpful also.

It may be worth removing all listeners from the `WebSocket` once `close` is emitted just as an extra guarantee. Would rather locate why it m

[2019-04-29 01:58] caucik commented on #88
This would be a better example to demonstrate the issue. In this example the exception is thrown 5 seconds after the connection is established to show that even after catching and handling the exception the connection can no longer be properly closed.

[exception_example.zip](https://github.com/ratchetphp/Pawl/files/3125769/exception_example.zip)

Maybe the thing is not to have the ability to "for

[2019-05-09 18:49] TaylorHawkes commented on #68
@mbonneau, can you clarify in what way it is async? In below code, I would expect If I received 3 messages within the same second, all three messages would complete in 60 seconds, but it looks like they process one after another... ie: 180 seconds.  What would you expect the behavior to be?

$conn->on('message', function($msg) use ($conn) {
   sleep(60);
  echo "done";
});

[2019-05-09 19:05] TaylorHawkes commented on #68
To answer myself, I think I now get the thrust... The communication ie async. i.e "send()" does not wait for response. I was hoping the code would be async as well....

[2019-05-29 09:48] edolix opened #95 "How to throw in rejected connect handler"
Hello,

i'm not able to `throw` inside the rejected callback of `\Ratchet\Client\connect`.

[code]

I also tried:

- `->done()` instead of `->then()`
- without passing the error handler at all

Oddly, if i try with wifi turned off (`Network is unreachable` error), i get the Exception and i can throw as well... but with a wrong domain, the reject handler fails silently.

[2019-06-11 12:06] fabian-hilft opened #96 "Unable to send json via php's json_encode"
My problem is that I can't send json when I use json_encode. It sends just _null_.

`$array = array(
	"test" => "v1",
	"test2" => "v2"
);`

`$conn->send(json_encode($array));`

Anyone with a similar issue?

[2019-06-11 13:09] clue commented on #96
`json_encode()` returns a `string` on success and `null` on failure. It looks like your `$array` contains data that can not be represented as a JSON text, for example if it doesn't use UTF-8 encoding, contains binary data etc.

This means it's likely an issue with your data and not with this library. If the function successfully returns a `string`, then I see no reason to assume that you wouldn't

[2019-06-11 13:34] fabian-hilft commented on #96
Thanks for the tip. I checked this and json_last_error() says 0/JSON_ERROR_NONE

[2019-06-11 13:53] #96 closed

[2019-06-28 18:56] clue commented on #88
@mbonneau I agree that the current situation is sub-optimal. We face the same problem in the underlying ReactPHP libraries, that's why we offer an `end()` and `close()` method depending on the use case.

In a higher-level protocol implementation like WebSocket, I think it makes sense to align with common implementations, such as those found in browsers. The usual WebSocket API only provides a sing

[2019-07-26 09:59] nd9600 opened #97 "Timing out inside Laravel's Event listener's"
Hi,

I've been trying to send a message to a Websocket server inside a [Laravel Event Listener](https://laravel.com/docs/5.8/events#defining-listeners), and every request times out, without any sort of connection being made on the server-side - this is the client-side stack trace:

[code]

This is the code I was trying to run inside the Listener:

[code]

when I replaced it with this instead, it s

[2019-07-26 10:55] clue commented on #97
Thanks for reporting. I've just tried to reproduce this and it seems to work just fine on my end.

The error means that the underlying TCP/IP connection to the host did not complete and timed out while waiting for a response from the server side. As a first step, I would suggest checking the DNS records resolve to the correct IP, the host with this IP is actually up and that no firewall rules bloc

[2019-07-26 13:31] nd9600 commented on #97
Sorry, I might have missed out important code there - the Listener needs to pull the Event off a database queue, I think.

I'm not sure if that trace above is actually the problem;
I've been trying this Listener now instead, and it fails completely silently:

[code]

Laravel just prints
[code]

and never connects to the server, sends or receives anything, or closes.

This is the same no matter whi

[2019-07-26 13:45] nd9600 commented on #97
Maybe this shows it better:
[code]

The commented-out code is this library, the bottom code is https://github.com/Textalk/websocket-php.
Both use the same URLs, but the top fails silently, and the bottom connects, sends, and receives a response.

[2019-07-26 18:28] clue commented on #97
The `connect()` method provided by this library uses some magic to only start the loop at the end of the script. This means it doesn't really integrate well with your blocking example code. In other words: It will not actually run.

As an alternative, consider following the "more in-depth example" as given in the documentation (https://github.com/ratchetphp/Pawl#example). This allows you more cont

[2019-07-29 07:38] nd9600 commented on #97
Ok, thanks for your help

[2019-07-29 07:38] #97 closed

[2019-08-05 02:10] khvalov opened #98 "What is the best way to send single message and read reply"
Hi,
I'm interacting with Websocket server and the first step I have to implement is - authorize with sending websocket JSON packet. And I'm expecting answer contain Client ID some other connection related data
The problem I have experienced with - as all I send is combined into frames (?) the authorization request get sent only withing next iteraction backages and I got "not authorized" response.

[2019-08-06 08:38] toleRB opened #99 "OP_PING response."
Should I expect a response from:
[code]
I get the echo output but nothing from sending the ping and the server is supposed to send a pong back.

[2019-08-06 14:49] mbonneau commented on #99
Sending the ping does not give any response. You would need to listen to the PONG event that is emitted here:
https://github.com/ratchetphp/Pawl/blob/b06df345c373443a4cbb026da245d54b92faf518/src/WebSocket.php#L94

[2019-08-06 15:22] toleRB commented on #99
Thanks for your answer @mbonneau , but I didn't create the websocket server, I'm connecting to an external websocket server and I need to know if the connection is still active. The server in its documentation says that it responds with a pong:

Is there any way to check this?

Thanks in advance.

[2019-08-13 14:43] se8820726 opened #100 "problem in connecting to another websocket server"
I'm using your library version 0.3.4

my server os is centos 7.6 with php 7.2

now I want to connect to this websocket url:
**wss://stream.binance.com:9443/ws/!ticker@arr**

but give me this error:
**Connection to tcp://13.113.19.16:9443?hostname=stream.binance.com failed: Connection refused**

my code:
[code]

[2019-08-13 16:14] clue commented on #100
It looks like remote server is actively refusing the underlying TCP/IP connection, but I can not reproduce the problem you're seeing on my end.

Perhaps you can see if you can connect to the given address using any other tool, for example:

[code]

[2019-08-20 07:31] rashcms opened #101 "Socks Proxy"
Is it possible to set socks proxy for the connector ?

[2019-08-20 07:43] clue commented on #101
@rashcms Yes, you can use https://github.com/clue/reactphp-socks#client and just set up a SOCKS client as the connector like this:

[code]

[2019-09-11 12:39] amackiewicz opened #102 "Now to send message with payload ?"

[2019-10-04 21:53] MC-delta-T commented on #100
i have the same problem. Telnet giving the usual result

[2019-10-14 13:09] nospoon opened #103 "Stuck on registering listeners"
When calling the `on($event, $callback)` method on the connection, it gets stuck and never progresses to the next code block.

For example:
[code]
In the above code, I expect both "test1" and "test2" debug messages, but only "test1" is ever fired, hence the `$callback` is also never triggered.

[2019-10-15 12:16] #103 closed

[2019-10-21 08:12] hurdos commented on #99
@toleRB Just subscribe on PONG event.
[code]

[2019-11-05 15:38] cboden commented on #102
Can you elaborate on your question please?

[2019-11-25 10:01] yepes commented on #76
can anybody provide an example for this?

[2019-11-25 18:00] metaer commented on #76
I think for sending message synchronously it's better to use https://github.com/Textalk/websocket-php

[2019-11-27 12:48] imtiyaz621 commented on #101
Hi,

I tried to connect to a websocket server in my local and it works fine with the dns 8.8.8.8

But in my test server it throws the failed during DNS lookup: DNS query for some-websocket-server.com failed: too many retries

Our server has proxy restriction, generally while performing the CURL call we use proxy,

The above DNS issue is because of the proxy? or DNS? How to resolve it.

Thanks in a

[2019-12-02 17:31] fascinated commented on #101
@rashcms a more complete example for connecting to a websocket server via a socks proxy using https://github.com/clue/reactphp-socks#client

[code]

(an example adapted from https://github.com/clue/reactphp-socks/blob/master/examples/02-https.php)

@imtiyaz621 in the above example you can probably also configure your DNS resolution settings if you are indeed having lookup issues.

[2019-12-03 00:14] parmonov98 commented on #74
Hello, dude! How could you manage to get stream data from bitmex API?
I wrote the same code, corrected as  **mbonneau** but when I open the file on browser. it is stuck on reload proccess. what Do I need to do to get the stream data?
I tried the wss api with browser that stream data keeps coming from server after connection to websocket. but in php it is kinda confusing. (actually it is my first t

[2019-12-03 00:20] parmonov98 commented on #74
hi, Matt Bonneau . Can you give more details on how to work with web sockets?
or direct me to the right direction?

[2019-12-03 07:10] imtiyaz621 commented on #101
yes, in my case our server got some restrictions , firstly it restricted with an error message like
- DNS lookup failure message
after configuring the DNS we got error like
- tls connection timeout message.

then i followed the above reactphp-socks (https://github.com/clue/reactphp-socks#client) and configured to use the proxy and DNS, it solved my issue. Thanks @fascinated and @clue

My final con

[2019-12-15 10:23] #102 closed

[2019-12-15 10:25] #99 closed

[2019-12-15 10:27] #101 closed

[2019-12-15 10:29] cboden commented on #95
What are you trying to achieve? Throwing inside the rejection will just change the stack trace of the Promise.

[2019-12-15 10:30] #85 closed

[2019-12-16 08:40] edolix commented on #95
I changed my implementation using `Ratchet\Client\Connector` directly instead of `\Ratchet\Client\connect` but i think the issue was that i did not "return" the Promise.

Going to close this, thanks @cboden 👍

[2019-12-16 08:40] #95 closed

[2020-01-13 13:04] aks2193 opened #105 "Send binary data in ratchet 0.3.6"
Hey guys,

I want to send compressed string as binary format in ratchet 0.3.6
As per my understand we directly have a method for this in 0.4.
Is there anything I can apply in 0.3.6 to solve this.
Thanks for the help.
@cboden

[2020-02-08 01:37] NabiKAZ opened #106 "Send a bash command to terminal's created server of codeanywhere.com website in websocket"
Please answer my question in stackoverflow if you know:
https://stackoverflow.com/questions/60123165/send-a-bash-command-to-terminals-created-server-of-codeanywhere-com-website-in

[2020-02-11 19:46] #94 closed

[2020-02-28 10:06] DenDenzel opened #107 "How to reconnect a client automatically?"
How to reconnect a client automatically?

[2020-02-29 19:00] cboden commented on #105
Ratchet/v0.3 was released in 2013 so my memory is super foggy but I don't think binary messages were supported back then. The v0.4 release notes include "Binary messages now supported" to further add to my recollection.

I poked around the code and didn't see anything restricting binary messages in v0.3, so I think `onMessage` will just have the raw binary data if you were to send a binary message

[2020-02-29 19:03] cboden commented on #107
auto reconnect will not be supported. Downstream state management would cause too many issues.

You can hook into the `->on('close')` event to establish another connection.

[2020-02-29 19:03] #107 closed

[2020-03-04 17:03] #105 closed

[2020-04-05 21:23] Ekstazi opened #108 "Drain event support"
Currently websocket client doesn't support tcp/ip backpressure  I want to fix it.

[2020-04-06 09:44] clue commented on #108
@Ekstazi Thanks for bring this up, this is an interesting one :+1:

Do you have any details how this is handled in other WebSocket implementations? It looks like browsers and many others implementations don't expose this either. The [`bufferedAmount`](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket/bufferedAmount) property can give *some* insight, but it doesn't provide a notification m

[2020-04-06 10:47] Ekstazi commented on #108
I think we must follow reactphp way.  `amphp/websocket-client`uses tcp/ip backpressure. Nodejs ws streams also use drain [event](https://github.com/websockets/ws/blob/master/lib/websocket.js#L156 ).
Without that the client can ddos server.

[2020-04-06 10:55] Ekstazi commented on #108
Also i did some expirements with ratchetphp and novnc. After some buffered amount in exceeded, the browser paused websocket so it doesn't receive new data and tcp backpressure used.

[2020-04-06 11:01] clue commented on #108
That's not something backpressure / drain support in the client addresses. The drain event only operates on the client side buffer, i.e. it allows the client to know when to send more data. If the client keeps sending without respecting the buffer, it will eventually run out of memory (i.e. it could only DoS itself).

The `drain` event only operates on the *sending* side and has no effect on how d

[2020-04-06 11:26] Ekstazi commented on #108
You are right. I know about that. Sorry for my bad english. That i try to explain is:
* if sending buffer is full then client can't respond to ping at acceptable time and connection can be closed by server.
* if client send data without respecting drain event then it ddos itself and connection closed because of pong delay.
So i think the right way is to control sending buffer on client side. So cl

[2020-04-15 13:17] cboden commented on #108
Can you post your code examples and results of your tests with and without your changes please? I'm happy for contributions and to merge pull requests, but I'd prefer evidence to support the changes.

[2020-05-08 11:11] tomekit opened #110 "[Question] Messages batching / detecting whether there is backlog of messages"
I am quite new to WebSockets and concept of Event Loop.
I've got code that buffers all messages and runs some calculations which takes some time to finish.
I want to run the calculations as soon as there is new message coming in.
At the same time I don't want to "block" the loop that receives a messages as there may be a backlog of messages to process.
In that case I would like to skip the calcula

[2020-05-08 15:51] clue commented on #110
@tomekit Interesting question!

I'm not sure I follow the exact issue you're trying to solve, but have you seen https://github.com/clue/reactphp-mq? This allows you to set up a `Queue` object with executes a number of operations and allows you to reject further operations when its `$limit` is reached.

[code]

[2020-05-24 14:01] mayanktiwaridotcom commented on #72
@MrMoronIV I had exactly the same problem as you mentioned in this issue, and solved is when found this, but now i get `unable to write to stream: fwrite(): ssl operation failed with code 1` even though messages are being sent. can you share your working code so I can verify what did I miss.

https://github.com/ratchetphp/Ratchet/issues/799#issuecomment-633223168

this is what I was doing original

[2020-05-24 17:17] MrMoronIV commented on #72
I opted to go with a NodeJS socket.io server instead, much better than PHP for a socket, and much easier to setup.

[2020-09-15 13:40] MartinPutz opened #112 "WebSocket Proxy/Gateway using Pawl and Ratchet server"
Hi there!

I would like to create a WebSocket Proxy/Gateway using Pawl,Ratchet and ReactPHP

Structure:
Browser->LocalWSServer->RemoteWSServer-> LocalWSServer->Browser

I would need to stream the data both ways.

**Currently:**
I managed to set up a a structure that mostly works. I can send 'commands' from the client-side using JS, the Ratchet WS Server receives it, uses a child process(ReactPHP)

[2020-09-18 16:59] mbonneau commented on #112
@MartinPutz If the service you are accessing through your proxy are message based, then streaming may not work as expected. I don't see piping being added to the library because of this difference.

If you are just encapsulating streaming data and don't need to worry about the message boundaries, then you can just subscribe to the events coming from the stdin stream:
[code]

[2020-09-20 16:33] MartinPutz commented on #112
@mbonneau That actually worked! One thing I changed is I added the connect call into the same loop
[code]

Thanks a lot!

[2020-09-20 16:33] #112 closed

[2021-01-24 13:19] carliedu opened #116 "Documented method __toString in Message class, do not exist"
In README.md is written that, most times we want to access the data received, using the method __toString from primary class Message.
There, topic about Message class, it says:
"This is the object received from a WebSocket server. It has a __toString method which is how most times you will want to access the data received. If you need to do binary messaging you will most likely need to use methods

[2021-01-24 13:21] cboden commented on #116
[Here](https://github.com/ratchetphp/RFC6455/blob/master/src/Messaging/Message.php#L100) is the method definition.

[2021-01-24 13:22] #116 closed

[2021-01-24 13:33] carliedu commented on #116
Thanks. I was looking in the wrong place.

[2021-03-15 13:43] jab11 opened #117 "No timeout connecting to a frozen websocket server"
1. I'm using pawl@0.3.5 to connect to a ratchet websocket server
2. for whatever reason sometimes the server hangs either in some infinite cycle or a database query
3. pawl opens a connection to the hung server, tcp connection succeeds so the TimeoutConnector succeeds, but never receives header data, so the $futureWsConn promise in __invoke() never resolves

How can I catch this event ? It would b

[2021-03-16 18:55] Aymkdn commented on #53
Since 2017, the way to do it changed, and I think it should now be:
[code]

[2021-03-28 11:01] lcwong82 opened #118 "Little change please"
from

https://github.com/ratchetphp/Pawl

at example

[code]

Please add  **\Ratchet\Client\WebSocket $conn**
when paste it somewhere with namespace, which will cause an unknown error, it will get stuck there without going to $conn->send('Hello World!');

[2021-04-01 22:07] marcosmarcolin opened #119 "OpenSSL Error messages: error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed"
https://github.com/ratchetphp/Pawl/issues/47

Hello, all right?

I have a problem similar to the issue above, but even escaping the certificate validation I have the problem occurring.

Follow my codes.

Server.php

[code]

**Client.php with problem**

[code]
**JS Working perfectly**

[code]

`
"Connection to 192.168.25.150:8888 failed during TLS handshake: Unable to complete TLS handshake: SSL op

[2021-04-02 08:04] clue commented on #119
In order to pass TLS options, you need to use the `Ratchet\Client\Connector` class instead of the `connect()` function and pass it an instance of `React\Socket\Connector`. See https://github.com/ratchetphp/Pawl/issues/53#issuecomment-800522810 and https://github.com/ratchetphp/Pawl/issues/72

[2021-04-05 13:17] marcosmarcolin commented on #119
Thanks for the quick feedback Clue, I already tested it and it worked correctly, hug!

[2021-04-08 09:50] oveysrostami commented on #100
I have the same problem. Telnet giving connection refused result. what should I do ?

[2021-04-15 19:51] oveysrostami commented on #100
Solution : Just Open Port : 9443

[2021-05-02 12:10] cboden commented on #118
Done. Thank you!

[2021-05-02 12:10] #118 closed

[2021-05-02 12:19] cboden commented on #117
Can you provide a demo server+client code to reproduce this?

[2021-05-10 02:11] joaquin-gs opened #120 "Use RatchetPHP for pushing data only and get connected with PHP client."
Hi guys!

Is there a way to get connected to the Websocket Server without using a loop in the PHP client? I am playing a bit with Ratchet server and Pawl but it seems the Pawl loop blocks my javascript client.
What I need to do is to send, from PHP, a data/message to the javascript clients to notify/update web content with JS.
I would like to get connected to the WS Server, send the message to a J

[2021-05-26 20:06] alexolliveira opened #121 "Connection refused"
Could not connect: Connection to tcp://127.0.0.31:8080 failed: Connection refused

[2021-05-31 14:12] typoworx-de opened #122 "How to subscribe to given events?"
How can I subscribe to given events provided by websocket server I'm connected to?

Is this rather the same then using this method?
[code]

[2021-06-02 20:26] mbonneau commented on #121
Server does not appear to be listening.

[2021-06-02 20:26] #121 closed

[2021-07-17 09:43] atyachin opened #123 "Sending binary messages"
I couldn't find a sample in the docs/Readme on how to send binary data.
This is one way of doing this:

[code]

[2021-07-21 21:18] mohamedryan commented on #120
I faced the same problem and fixed it by closing the connection after sending the data

example:

[code]

[2021-08-09 12:07] carliedu opened #127 "Is there a way to know the remote port in an Pawl connection?"
After an connection is made with Pawl to an WS server, is there a way to know the remote port (port that is responding on the server).
For example, with netstat | grep 101.17
tcp        0      0 ip-172-31-1-238.s:48916 101.17.94.102:https     ESTABLISHED
I know that the remote port is 48916 and the local port 443.

[2021-08-09 13:29] clue commented on #127
The `ws://` scheme defaults to HTTP port `80`, the `wss://` scheme defaults to HTTPS port `443`, unless you explicitly specify a custom port as part of the URL. Does this answer your question?

[2021-08-09 14:26] carliedu commented on #127
No.
The local port (80 or 443) I know, because I'm selecting it with ws: or wss:.
What I would like to get is the remote port, in my example, 48916.
Reason, I have several connections open simultaneously, and I want to know which one I'm specifically dealing with.

[2021-08-12 10:28] hobsRKM opened #128 "Connection closed (4005 - Already authenticated.)"
After sending a message, I am getting the error
`Connection closed (4005 - Already authenticated.)`

[2021-08-12 10:31] #128 closed

[2021-08-14 14:03] cboden commented on #108
merged #109

[2021-08-14 14:03] #108 closed

[2021-08-24 07:00] clue commented on #2
Looks like this (only) depends on https://github.com/reactphp/http/issues/376. Let's see if I can look into this soon-ish… :shipit:

[2021-09-10 05:48] hobsRKM opened #131 "underlying connection closed 1006"
The socket gets closed with this error after about 3 -4 hours.
I am using the latest version of Pawl.

[2021-09-10 05:51] hobsRKM commented on #61
its not fixed. I am still getting this error in latest version 0.3.5

[2021-09-10 12:40] cboden commented on #131
Please provide reproducible steps to replicate this issue. I can't possibly begin to diagnose with this limited amount of information.

Code 1006 is when the underlying socket is closed without a WebSocket CLOSE Frame. There could be a multitude of reasons for this. Pawl is behaving accordingly.

[2021-10-03 10:45] khasman commented on #72
Hi, I tried to integrate the setup by following official integration, but it just throwing class not found error. Can anyone share the way fwd to fix this issue

chat-server.php
_____________
<?php
namespace ChatServer;
use Ratchet\Http\HttpServer;
use Ratchet\WebSocket\WsServer;
use Ratchet\Server\IoServer;
use MyApp\Chat;

require dirname(__DIR__) . '/vendor/autoload.php';

 $server = IoServer::

[2021-10-03 14:56] SergeC opened #132 "Allow guzzlehttp/psr7 v2"
Please allow guzzlehttp/psr7 v2. I have guzzlehttp v7.2(psr7 v2) in my main project and I can't install Pawl.

[code]

[2021-10-05 05:36] information-security commented on #132
It also requires updating of the `ratchet/rfc6455` package to support v2 of `guzzlehttp/psr7`. I made a PR for that.

For the moment, I am using following configuration to workaround this issue:

**composer.json**
[code]

**Then run following command to update packages or do a clean install:**
`composer update ratchet/rfc6455 ratchet/pawl guzzlehttp/psr7`

[2021-12-10 00:08] #131 closed

[2021-12-10 00:08] #127 closed

[2021-12-10 00:10] #120 closed

[2021-12-10 00:24] #119 closed

[2021-12-10 00:24] #117 closed

[2021-12-10 00:25] #106 closed

[2021-12-10 00:25] #100 closed

[2021-12-10 14:30] #132 closed

[2021-12-14 11:58] edhelas opened #134 "Call to undefined function GuzzleHttp\Psr7\uri_for()"
Since the latest Pawl upgrade I have this issue:

[code]

[2021-12-14 12:17] cboden commented on #134
Hmm, that's odd. v0.4.1, which was just tagged uses the updated method `uriFor` as [seen here](https://github.com/ratchetphp/Pawl/blob/master/src/Connector.php#L127).

What's the output of `composer show`?

[2021-12-14 12:21] edhelas commented on #134
[code]
Here we go

[2021-12-14 12:23] edhelas commented on #134
My bad, Pawl was actually not upgraded. I changed my `composer.json` to put the latest version.

[code]

I'm curious to know why the `composer upgrade` didn't upgrade it automatically ?

[2021-12-14 12:23] #134 closed

[2021-12-22 18:25] usmanjdn93 opened #136 "Call to undefined function GuzzleHttp\Psr7\uri_for()"
is any one have idea about this error
![Capture](https://user-images.githubusercontent.com/16402690/147138301-dbc0997f-81cf-4837-af36-c6d5964226ad.PNG)

[2021-12-22 18:56] cboden commented on #136
Run `composer update`

[2021-12-23 11:20] usmanjdn93 commented on #136
i did...nothing work

[2021-12-27 09:17] usmanjdn93 commented on #136
any update on this issue?

[2022-01-03 13:14] l-naumann commented on #136
Same problem here. I downgraded to Ratchet 0.4.3 to temporarily fix this.

[2022-01-06 11:27] clue commented on #122
@typoworx-de Thanks for bringing this up!

The `WebSocket` object always emits a `message` event as per the documentation:

[code]

You can transport any kind of data in your message, for example a JSON string that contains something like `{"event":"custom-even","name":"Alice"}` which you could then use to trigger custom logic in your `message` event handler.

I hope this helps :+1:

[2022-01-06 11:27] #122 closed

[2022-01-10 18:07] johankitelman commented on #136
bump, the same stuff

[2022-02-24 17:26] grasmash commented on #136
This is fixed in [v0.4.1](https://github.com/ratchetphp/Pawl/releases/tag/v0.4.1)

Make sure you require that version. `composer require ratchetphp/Pawl:^0.4.1`

[2022-02-25 09:45] #136 closed

[2022-03-09 09:14] seewhy17 commented on #95
@edolix would you mind explaining what you meant by **I did not "return" the Promise.**
I have a similar issue and I cant seem to throw an exception

[2022-03-09 15:58] edolix commented on #95
@seewhy17 IIRC: i meant to actually `return` the _Promise_ to bubble up the error.

Taking my example from above:

[code]

Might be just that but, as mentioned in the prev comment, i then switched to `Ratchet\Client\Connector` so i'm not sure if `return` is the fix 👍  Let me know how it goes!

[2022-03-10 07:43] seewhy17 commented on #95
@edolix Thanks for your reply. still could not get it work with both implementations. I am working on a laravel project.
## Class Example
[code]

## Using the above class
[code]
None of the exceptions are thrown.

Currently trying [amphp](https://github.com/amphp/websocket-client)

[2022-03-10 09:31] edolix commented on #95
For context regarding the "return the Promise" i said above: https://reactphp.org/promise/#done-vs-then

Maybe @cboden has some additional ideas for your class example 👍

[2022-03-10 13:46] cboden commented on #95
@seewhy17 You're trying to alter an asynchronous paradigm to a procedural paradigm; square peg into a round hole.

The connection is happening inside a Promise, so if it throws it rejects the Promise. You either need to alter your flow to work to this asynchronous paradigm or unwrap it by using something like [clue/reactphp-block](https://github.com/clue/reactphp-block) by @clue

[2022-03-10 16:47] VirnaTwo commented on #128
for heardbeat use `{ op: 1, d: 251 }` request not others

[2022-03-13 13:19] DangerD1024 opened #137 "How to send command line live output to websocket server?"
[code]
Looks like `while (!feof($proc))` blocks main thread...
Is there any other way to send live output to websocket server?

[2022-03-17 03:17] envatic commented on #103
there is no `open` event it seems

[2022-03-30 08:55] Romano974 opened #138 "send variable"
HI,

I would like to retrieve the variable $argv[1] but I can't.

[code]

[2022-04-03 20:02] lucasantoniooficial opened #139 "Implementation to listen for socket.io events"
Do you intend to implement for us to listen for events through socket.io ?

I need this solution for PHP, because I have a nodejs API running and I communicate some things with socket.io.

[2022-05-24 06:28] Romano974 commented on #138
Hi,

Thank you very much, it works :)

[2022-07-16 18:02] Dean151 opened #141 "Sending binary messages refuse to work with specific char suite."
I saw about sending binary messages in issue #123.

But it works only with specific amount of bytes:
[code]

Something might be wrong.
And it's not like I can change the payload, I'm simulating the behavior of a shitty pet feeder machine that send exactly this data via a websocket.

Any insight on the issue, and maybe how to fix it?

[2022-07-16 18:52] Dean151 commented on #141
Seems like the problem is with the response I send. I close this issue. Sorry!

[2022-07-16 18:52] #141 closed

[2022-07-16 19:05] Dean151 commented on #141
I confirm that the issue was that on my side. The server was not passing the OP_Binary constant correctly. All working now. Thanks!

(And the issue was only for my string, because I respond only when I recognize the data).
It all makes sense

[2022-07-21 22:27] TaiTair opened #142 "Cannot get TLS to work on proxied websocket with nginx"
I can get it to work with a javascript websocket but it will not work with a Pawl websocket. It seems like the handshake always fails and I'm not too sure how to debug it.

Here's my client code:
[code]

Here is my server code:
[code]

Here's my nginx configuration with the proxy for the websocket:
[code]

If I enable verify_peer on the client-side. It fails to handshake.

If I understand correctl

[2022-08-01 15:42] Volmarg opened #143 "Question - RabbitMq consumer freezing the websocket"
Hello,

I've got strange case right now where upon starting the `RabbitMq` `consumer` based on the:
- https://github.com/php-amqplib/RabbitMqBundle

it causes the websocket server to freeze. It will only send messages once I **kill** the consumer, untill then it gets stuck (got no connection errors).

Do You maybe have literaly any idea what can cause this?
Kinda started hitting the wall right now

[2022-09-13 21:55] T3chTobi opened #144 "How to authenticate with PEM certificate?"
I want to convert following Python code into PHP code using pawl. I was able to convert everything, but the authentication with the PEM certificate. How can I authenticate with a PEM cerficiate?

Original Python code
[code]

The problem is the following fragment:
[code]

Converted PHP code
[code]

Error message:
[code]

[2022-09-14 13:09] #144 closed

[2022-09-14 13:42] SimonFrings commented on #144
Hey @T3chTobi, did you found an answer for this, if so, can you share it in here so other users with the same question can find it 👍

[2022-09-14 13:50] T3chTobi commented on #144
https://github.com/ratchetphp/Pawl/issues/53#issuecomment-800522810

That snippet worked

[2022-10-12 06:00] Volmarg commented on #143
Solved it.

- **Why was not working**:  no idea,
- **Solution**: dispatching async process to send notification just with `exec`

[2022-10-12 06:00] #143 closed

[2022-10-18 14:29] JokubasR commented on #143
I found a better solution after spending some time on this issue. All you need to do is pass Loop while initiating connection and run it afterwards.

Minimal example:
`
        $loop = Loop::get();
        Client\connect('ws://127.0.0.1', [], [], $loop)->then(
            function (WebSocket $conn) use ($msg) {
                $conn->send($msg);
                $conn->close();
            }